@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #000000;
}

body {
    background-color: #000;
}

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: "Sriracha", cursive;
    --fonte3: "Passion One", sans-serif;
    
}

header {
    background-color: #000000;
    padding: 50px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titulo_Header {
    color: #ffffff;
    font-family: var(--fonte3);
    font-size: 10vw;
    font-variant: small-caps;
}

.subtitulo_Header {
    color: #ffffff;
    font-family: var(--fonte1);
    font-weight: 100;
    font-size: 1rem;
}

.link_Milton {
    color: #ffffff;
    font-family: var(--fonte1);
    font-weight: 900;
    font-size: 1rem;
}

.link_Milton:hover {
    text-decoration: underline;
}

section {
    display: block;
}

.estrofe_Branca {
    background-color: #FFF;
    padding: 80px 0px;
    box-shadow: 10px 10px 10px 10px black;
}

.versos_FundoBranco {
    font-family: var(--fonte2);
    font-size: 3.5vw;
    margin-left: 30px;
    text-shadow: 1px 1px 0px #000000a4;
    
}

.estrofe_Paralax1 {
    padding: 80px 0px;
    background-image: url(imagens/background001.jpg);
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 6px 6px 13px 0px #00000093;
    
}

.versos_FundoTransparente {
    color: #FFF;
    background-color: #00000063;
    width: 41vw;
    font-family: var(--fonte2);
    font-size: 3.5vw;
    margin-left: 30px;
    text-shadow: 2px 2px 0px #000000;
}

.separacaoDeVerso {
    margin-bottom: 80px;
}

.estrofe_Paralax2 {
    padding: 80px 0px;
    background-image: url(imagens/background002.jpg);
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 6px 6px 13px 0px #00000093;
}

footer {
    background-color: #000;
    
}

footer>p {
    color: #FFF;
    text-align: center;
    font-family: var(--fonte1);
    padding: 10px 0px;
}

strong {
    color: #FFF;
    font-weight: bold;
}